:root {
  --nsfw-blur-radius: 0.6rem;
  --nsfw-opacity-percent: 0.3;
  --content-padding-x: var(--su-5) !important;
  --content-padding-y: var(--su-5) !important;
}

.crayons-article__body .fb-post,
.crayons-article__body .fb-video {
  text-align: center !important;
}

.crayons-article__body .text-truncate,
.crayons-story__body .text-truncate,
.crayons-link--contentful .text-truncate,
.profile-comment-row .text-truncate,
#bottom-content-read-next .text-truncate {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  max-height: 200px;
  padding: var(--su-2) 0;
}

.text-truncate-60 {
  max-height: 60px !important;
}

.crayons-story__body .photo-grid-one {
  max-height: 500px;
  text-align: center;
  background: #ccc;
}

.crayons-story__body .photo-grid-one img {
  max-height: 500px;
  width: unset !important;
  max-width: 100% !important;
}

.crayons-story__body a {
  text-decoration: none !important;
}

.profile-comment-row .text-truncate {
  max-height: 50px;
}

.preview .c-embed {
  display: table;
  width: 100%;
}

.preview .c-embed__body .truncate-at-3 {
  -webkit-line-clamp: 2;
}

.preview .c-embed__cover img {
  width: 100vw;
}

.emoji-popup {
  z-index: 1;
}

.picmo__popupContainer .picmo__closeButton {
  z-index: 2 !important;
}

.nsfw-content {
  cursor: pointer;
  filter: blur(var(--nsfw-blur-radius));
  opacity: var(--nsfw-opacity-percent);
}

.crayons-story .photo-grid {
  margin: 0 calc(var(--su-5) * -1);
}

.crayons-story {
  margin-bottom: var(--su-5) !important;
}

.crayons-story__tags {
  margin-bottom: 0;
}

.crayons-story__bottom {
  margin: calc(var(--su-5) * -1) calc(var(--su-5) * -1) calc(var(--su-5) * -1);
  margin-top: 0;
  padding: var(--su-1) var(--su-4);
  background-color: #f8f8f8;
  border-radius: 0 0 var(--su-2) var(--su-2);
  border-top: 1px solid #dddddd;
}

.crayons-story__indention {
  padding-left: 0 !important;
}

.crayons-story__save .bookmark-button,
.crayons-story__save .c-btn--icon-alone {
  padding: 0 !important;
}

.crayons-card .c-embed__favicon {
  margin: 0 var(--su-2) 0 0 !important;
}

.blur-frame {
  position: relative;
}

.blur-frame .blur-bg {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 650 / 273;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius) var(--radius) 0 0;
}

.blur-frame img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 650 / 273;
  object-fit: contain;
  object-position: center;

  /* blurring */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.crayons-article .crayons-article__cover {
  padding-top: 0 !important;
}

.crayons-article .crayons-article__cover .blur-frame .blur-bg,
.crayons-article .crayons-article__cover .blur-frame img {
  height: auto;
  aspect-ratio: 650 / 273;
}

#bottom-content-read-next blockquote {
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fon-smoothing: grayscale;
}

#bottom-content-read-next blockquote:first-of-type:before,
#bottom-content-read-next blockquote:last-of-type:after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2.26893 0L3.68236 0.998044C3.01284 1.61905 2.56649 2.20678 2.34332 2.76125C2.12015 3.29354 2.00856 3.83692 2.00856 4.39139L1.11587 3.82583H3.83114V7.28571H0V4.85714C0 3.94781 0.161181 3.10502 0.483543 2.32877C0.830701 1.53033 1.42583 0.754078 2.26893 0ZM7.83779 0L9.25122 0.998044C8.5817 1.61905 8.13535 2.20678 7.91218 2.76125C7.689 3.29354 7.57742 3.83692 7.57742 4.39139L6.68472 3.82583H9.4V7.28571H5.56886V4.85714C5.56886 3.94781 5.73004 3.10502 6.0524 2.32877C6.39956 1.53033 6.99469 0.754078 7.83779 0Z' fill='rgb(64,64,64)' /%3E%3C/svg%3E");
  content: '';
  position: absolute;
  left: -0.8rem;
  width: 12px;
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
}

#bottom-content-read-next blockquote:last-of-type:after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7.13107 7.28572L5.71764 6.28767C6.38716 5.66667 6.83351 5.07893 7.05668 4.52446C7.27985 3.99217 7.39144 3.44879 7.39144 2.89433L8.28413 3.45988H5.56886V9.53674e-07H9.4V2.42857C9.4 3.3379 9.23882 4.18069 8.91646 4.95695C8.5693 5.75538 7.97417 6.53164 7.13107 7.28572ZM1.56221 7.28572L0.148781 6.28767C0.818301 5.66667 1.26465 5.07893 1.48782 4.52446C1.711 3.99217 1.82258 3.44879 1.82258 2.89433L2.71528 3.45988H0V0L3.83115 9.53674e-07V2.42857C3.83115 3.3379 3.66996 4.18069 3.3476 4.95695C3.00044 5.75538 2.40531 6.53164 1.56221 7.28572Z' fill='rgb(64,64,64)' /%3E%3C/svg%3E");
  left: unset;
}

@media screen and (min-width: 640px) {
  .preview .c-embed {
    padding: var(--su-3);
  }

  .preview .c-embed__cover {
    float: right;
    max-width: 30%;
    margin-bottom: 0;
  }

  .preview .c-embed__body {
    float: left;
    max-width: 70%;
    padding-right: var(--su-3);
  }
}

@media screen and (max-width: 768px) {
  .crayons-story .photo-grid {
    margin: 0 calc(var(--su-4) * -1);
  }

  .crayons-story__bottom {
    margin: 0 calc(var(--su-4) * -1) calc(var(--su-4) * -1) !important;
  }
}

@media screen and (max-width: 640px) {
  .crayons-story__body .photo-grid-one img {
    width: 100% !important;
    max-width: 100% !important;
  }

  .crayons-story__bottom {
    margin: 0 calc(var(--su-4) * -1) calc(var(--su-3) * -1) !important;
  }
}
