:root {
  --nsfw-blur-radius: 0.6rem;
  --nsfw-opacity-percent: 0.3;
  --content-padding-x: var(--su-5) !important;
  --content-padding-y: var(--su-5) !important;
}

.crayons-article__body .fb-post,
.crayons-article__body .fb-video {
  text-align: center !important;
}

.crayons-article__body .text-truncate,
.crayons-story__body .text-truncate,
.crayons-link--contentful .text-truncate,
.profile-comment-row .text-truncate,
#bottom-content-read-next .text-truncate {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  max-height: 200px;
  padding: var(--su-2) 0;
}

.text-truncate-60 {
  max-height: 60px !important;
}

.crayons-story__body .photo-grid-one {
  max-height: 500px;
  text-align: center;
  background: #ccc;
}

.crayons-story__body .photo-grid-one img {
  max-height: 500px;
  width: unset !important;
  max-width: 100% !important;
}

.crayons-story__body a {
  text-decoration: none !important;
}

.profile-comment-row .text-truncate {
  max-height: 50px;
}

.preview .c-embed {
  display: table;
  width: 100%;
}

.preview .c-embed__body .truncate-at-3 {
  -webkit-line-clamp: 2;
}

.preview .c-embed__cover img {
  width: 100vw;
}

.emoji-popup {
  z-index: 1;
}

.picmo__popupContainer .picmo__closeButton {
  z-index: 2 !important;
}

.nsfw-content {
  cursor: pointer;
  filter: blur(var(--nsfw-blur-radius));
  opacity: var(--nsfw-opacity-percent);
}

.crayons-story .photo-grid {
  margin: 0 calc(var(--su-5) * -1);
}

.crayons-story {
  margin-bottom: var(--su-5) !important;
}

.crayons-story__tags {
  margin-bottom: 0;
}

.crayons-story__bottom {
  margin: calc(var(--su-5) * -1) calc(var(--su-5) * -1) calc(var(--su-5) * -1);
  margin-top: 0;
  padding: var(--su-1) var(--su-4);
  background-color: #f8f8f8;
  border-radius: 0 0 var(--su-2) var(--su-2);
  border-top: 1px solid #dddddd;
}

.crayons-story__indention {
  padding-left: 0 !important;
}

.crayons-story__save .bookmark-button,
.crayons-story__save .c-btn--icon-alone {
  padding: 0 !important;
}

.crayons-card .c-embed__favicon {
  margin: 0 var(--su-2) 0 0 !important;
}

.blur-frame {
  position: relative;
}

.blur-frame .blur-bg {
  position: absolute;
  width: 100%;
  height: 275px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius) var(--radius) 0 0;
}

.blur-frame img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 275px;
  object-fit: contain;
  object-position: center;
  
  /* blurring */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.crayons-article .crayons-article__cover {
  padding-top: 0 !important;
}

.crayons-article .crayons-article__cover .blur-frame .blur-bg,
.crayons-article .crayons-article__cover .blur-frame img {
  height: 340px;
}

@media screen and (min-width: 640px) {
  .preview .c-embed {
    padding: var(--su-3);
  }

  .preview .c-embed__cover {
    float: right;
    max-width: 30%;
    margin-bottom: 0;
  }

  .preview .c-embed__body {
    float: left;
    max-width: 70%;
    padding-right: var(--su-3);
  }
}

@media screen and (max-width: 768px) {
  .crayons-story__bottom {
    margin: 0 calc(var(--su-4) * -1) calc(var(--su-4) * -1) !important;
  }

  .blur-frame .blur-bg,
  .blur-frame img {
    height: 240px;
  }
}

@media screen and (max-width: 640px) {
  .crayons-story__bottom {
    margin: 0 calc(var(--su-4) * -1) calc(var(--su-3) * -1) !important;
  }

  .blur-frame .blur-bg,
  .blur-frame img {
    height: 200px;
  }
}
